

/* .hero{
    height: calc(100%-5%);
} */

.hero{
    z-index: -1;
}
.hero-img{
    background-image: url("../img/hero-img.png");
    z-index: 4;
    background-repeat: no-repeat;
    background-size: 110% 100%;
}


.paintingBg{
    background: url(../img/service_paint.png), lightgray 50% ;
    background-repeat: no-repeat;
    background-size: 110%;
}